<%= provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Bem Vindo ao Pensando Verde</h1>
  <h2>Loja, Ideias, Coletividade a distância de um click</h2>
  <h3><p><%= link_to "Veja as Nossas Dicas",   dicas_path %></p></h3>
  <h3><p><%= link_to "Conheça Nossos Produtos",   product_path %></p></h3>

  <%= link_to "Faça Parte da Nossa Comunidade!", cadastrar_path, class: "btn btn-lg btn-primary" %>
</div>
