<%= provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Bem Vindo ao Pensando Verde</h1>
  <h2>Loja, Ideias, Coletividade a distância de um Click</h2>
  <h3><p><a href="#">Veja Nossas Dicas</a></p></h3>
  <h3><p><a href="#">Veja Nossos Produtos</a>
    Modelo Loja Rails.</p>
  </h3>

  <%= link_to "Faça Parte da Nossa Comunidade!", '#', class: "btn btn-lg btn-primary" %>
</div>
