<p id="notice"><%= notice %></p>
<div class="col-md-8">
  <% if @user.microposts.any? %>
    <h3>Postagens (<%= @user.microposts.count %>)</h3>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>
  <% end %>
</div>
