<%= provide(:title, "Produtos") %>
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Produtos</h1>
            </div>
        </div>
        <!-- Projects Row -->
        <div class="row">
          <% @produtos.each do |p| %>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                  <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h4>
                  <a href="#"><%= p.name %></a>
                </h4>
                <p class="truncate"><%= p.description %></p>
                <a class="btn btn-primary" href="#">Comprar</span></a>
            </div>
         <!-- /.row -->
         <% end %>
       </div>
       <hr>
<br/>
